.nav{
    display: flex;
    gap: 32px;
    color: var(--dark);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1%;

    &_light .nav__title {
        color: var(--light);
    }

    &_light .nav__item {
        color: var(--grey);
    }

    &__column{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__cell{
        display: flex;
        gap: 32px;
        width: 50%;

        &:first-of-type{
            justify-content: center;
        }

        @media (max-width: 900px) {
            flex-direction: column;
            width: 100%;
        }
    }

    &__title{
        font-weight: 700;
    }

    &__item{
        font-weight: 500;
    }
}
