.types{
    display: flex;
    gap: calc(10% / 2);
    width: 100%;

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 50px;
    }

    &__item{
        display: flex;
        flex-direction: column;
        width: 30%;

        @media (max-width: 900px) {
            width: 100%;
        }
    }

    &__info{
        width: 100%;
    }

    &__button{
        position: relative;

        &::after{
            content: "➔";
            position: absolute;
            right: -25px;
        }

        &:hover::after{
            right: -30px;
        }
    }

    &__img{
        margin-bottom: 30px;
        display: block;
        width: 100%;
        object-fit: cover;
    }
}