:root{
    --dark: rgb(25, 34, 82);
    --light: rgb(255, 255, 255);
    --grey: rgb(132, 143, 172);

    --large: 1200px;
    --middle: 768px;
    --small: 576px;  

    --title: 'Montserrat';
    --text: 'Inter';
}