:root{
    --dark: rgb(25, 34, 82);
    --dark_active: rgb(19, 25, 66);
    --light: rgb(255, 255, 255);
    --grey: rgb(132, 143, 172);
    --orange: rgb(255, 98, 10);
    --light-orange: rgb(255, 236, 226);

    --large: 1200px;
    --middle: 768px;
    --small: 576px;  

    --title: 'Montserrat';
    --text: 'Inter';
}