.img-section{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    @media (max-width: 900px) {
        margin-bottom: 10vw;
    }

    @media (max-width: 650px) {
    }

    &__info{
        width: 45%;
        @media (max-width: 900px) {
            width: calc(100% - 2 * 40px);
            position: absolute;
            z-index: 2;
            margin: 0 40px;
            padding: 30px;
            bottom: -10vw;
        }
        @media (max-width: 650px) {
            width: calc(100% - 2 * 8px);
            margin: 0 8px;
            padding: 15px;
        }
    }

    &__img{
        width: 45%;
        @media (max-width: 900px) {
            width: 100%;
        }
    }
}